.col-md-9
  H2  Ecran de controle
  p
    | Ce formulaire vous permet de lister les produits dont les informations nutritionnelles n'ont pas été saisies dans la base de données openfood facts.<br/>
    | les informations saisies ici seront envoyées à OpenFoodFacts pour réutilisation par d'autre personnes du panel MesInfos et plus généralement par tous les utilisateurs de la base de donnée ouverte Open food Facts.<br/>
    | Merci de saisir les données nutritionnelles avec soins.
.col-md-3.text-center
  img(src="openfoodfacts-logo-fr.png")
  
.col-md-12
  form(role="form",action="postFoodfacts",method="post")
    table(class="table table-striped table-hover table-condensed")
      thead
        th(colspan="5")
          button.btn.btn-primary(type="submit") Envoyer les modifications
      thead
        th.col-md-2 référence intermarché<br/>code bare
        th.col-md-1 dernière date d'achat
        th.col-md-2 nom de l'article
        th.col-md-1.text-center poid<br/>(Grammes)
        th.col-md-1.text-center calories <br/>(KJoules)
        th.col-md-1.text-center lipides <br/>(Grammes)
        th.col-md-1.text-center proteines <br/>(Grammes)
        th.col-md-1.text-center glucides <br/>(Grammes)
      tbody#products-body
      tfoot
        td(colspan="5")
          button.btn.btn-primary(type="submit") Envoyer les modifications
    
    
script#template-row(type="text/html")
  tr
    td(style="vertical-align:middle") 
      table
        tr
          td
            img.image(src!='http://drive.intermarche.com/ressources/images/produit/vignette/0<%= barcode %>.jpg',width="53",height="53")
          td
            | <%= shop_label %><br/><%= barcode %>
    td(style="vertical-align:middle") <%= new Date(last_update).toLocaleDateString() %>
    td
      input(name!="changed_<%= barcode %>",type="hidden",value="false")
      input.form-control(name!="name_<%= barcode %>",type="text",placeholder="Nom de l'article",value!="<%= name?name:'' %>")
    td
      div.input-group
        input.form-control(name!="weight_<%= barcode %>",type="text", placeholder="poid",value!="<%= (typeof weight != 'undefined')?weight:'' %>") 
        span.input-group-addon g
    td
      div.input-group
        input.form-control(name!="energy_<%= barcode %>",type="text", placeholder="energy",value!="<%= (typeof energy != 'undefined')?energy:'' %>")
        span.input-group-addon Kj
    td
      div.input-group
        input.form-control(name!="fat_<%= barcode %>",type="text", placeholder="lipides",value!="<%= (typeof fat != 'undefined')?fat:'' %>")
        span.input-group-addon g
    td
      div.input-group
        input.form-control(name!="proteins_<%= barcode %>",type="text", placeholder="protéines",value!="<%= (typeof proteins != 'undefined')?proteins:'' %>")
        span.input-group-addon g
    td
      div.input-group
        input.form-control(name!="carbohydrates_<%= barcode %>",type="text", placeholder="glucides",value!="<%= (typeof carbohydrates != 'undefined')?carbohydrates:'' %>")
        span.input-group-addon g