head
  script(src="Chart.js") 
nav(class="navbar navbar-default navbar-fixed-top",role="navigation")
  div(class="container")
    div(class="navbar-header")
      button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand",href="#") MesInfos Nutritionelles
    div(class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        li
          a(href="#stats")  Statistiques
        li
          a(href="#coach")  Analyse
        li
          a(href="#control")  Vérifications
        li(class="dropdown")
          a(href="#",class="dropdown-toggle",data-toggle="dropdown") A Propos
            ul(class="dropdown-menu")
              li 
                a(href="#") &copy; 2013 Lookal
              li 
                a(href="mail:pdelorme@lookal.fr") contact: pdelorme@lookal.fr
              li 
                a(href="#")
                  | Merci à la Fing et à OpenFoodFacts pour leur assistance.<br/>
                  | Longue vie à mes infos

div(class="container")                       
  br
  br
  br
  
  h1= t('main title')
  p= t('main description')
  
  div(id="tab-content")