head
  script(src="Chart.js") 
div(id="loader")
  img(src="loader.gif",alt="je charge") 
nav(class="navbar navbar-default navbar-fixed-top",role="navigation")
  div(class="container")
    div(class="navbar-header")
      button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand",href="#info") MesInfos Nutritionelles
    div(class="navbar-collapse collapse")
      ul(class="nav navbar-nav")
        li#statsMenuItem
          a(href="#stats")  Mes Statistiques
        li#controlMenuItem
          a(href="#control")  Vérifications
        li(class="dropdown")
          a(href="#",class="dropdown-toggle",data-toggle="dropdown") A Propos
            ul(class="dropdown-menu")
              li 
                a &copy; 2013 Lookal
              li 
                a(href="mail:pdelorme@lookal.fr") contact: pdelorme@lookal.fr
              li 
                a
                  | Merci à la Fing et à OpenFoodFacts pour leur assistance.<br/>
                  | Longue vie à mes infos

div(class="container")                       
  br
  br
  br
    
  div(id="tab-content")
    