#modal-overlay {
    position: fixed;
    z-index: 10;
    background: black;
    display: block;
    opacity: .75;
    filter: alpha(opacity=75);
    width: 100%;
    height: 100%;
}

#cdhartContainer{
	margin-top:-100px;
	z-index: -1;
}

.chart {
	height:440px;
	padding-left:0px;
	padding-right:0px;
	
}

.input-group{
	input.form-control {
		padding:3px;
	}
}
input.form-control {
    padding:3px;
  }
span.input-group-addon {
    padding-top:3px;
    padding-bottom:3px;
    padding-left:6px;
    padding-right:6px;
}
table>tbody#products-body>tr>td {
	vertical-align:inherit;
	padding:3px;
}
table>tbody#products-body img {
	height:40px;
	width:40px;
}